# Datadog API Key (required)
api_key = "YOUR-API-KEY"

# Datadog Application Key (required)
app_key = "YOUR-APP-KEY"

# Datagod Site
api_url = "https://api.datadoghq.com/"

# Notification email for alerts (optional - defaults to notify@example.com)
notification_email = "YOUR-EMAIL"

# Environment name used in resource names and tags (optional - defaults to "k8s-lab")
env = "k8s-lab"
